.login-page-form{
    font-size: 1.25rem;
    padding: 20px;
    margin: 10px;

   label{
        margin-bottom: 1.5rem;
    }
    .validation {
        margin: 0;
        text-align: center;
        color: red;
        opacity: 0;
    }
    .invalid {
        opacity: 1;
    }
}