.message-preview {
    &:nth-child(even) {
        background-color: #f1f3f4;
    }
    &:nth-child(odd) {
        background-color: #e6e6e6;
    }
    &:not(:last-of-type){
        margin-block-end: .1em;
    }
}
